* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(white, grey);
  font-family: "Luxurious Roman", cursive;
}

.heading {
  font-size: 60px;
  color: rgb(247, 245, 243);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.tagLine {
  font-size: 40px;
  color: aliceblue;
  font-family: "Moon Dance", cursive;
  font-weight: bold;
}
.holy-grail-grid {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  grid-template-rows: 2fr 8fr 1fr;
  grid-gap: 10px;
  height: 100vh;
}

.holy-grail-header,
.holy-grail-left,
.holy-grail-middle,
.holy-grail-right,
.holy-grail-footer {
  padding: 1rem;
  border: 1px solid #ededed;
}

.holy-grail-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  text-align: center;
  border-radius: 0 0 20px 20px;
  border: black solid;
  background: linear-gradient(-45deg, #152a83, #5e182f, #586972, #638cbb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.holy-grail-left {
  @media screen and (max-width: 60em) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.holy-grail-middle {
  @media screen and (max-width: 60em) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.right-nav {
  @media screen and (max-width: 60em) {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.holy-grail-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  color: white;
  display: flex;
  justify-content: center;
  
}

.mid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-left: 1%;
  justify-content: space-around;
  overflow: auto;
}

.barImage {
  height: 9vw;
  width: 9vw;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

#map {
  height: 50vh;
  width: 100%;
  position: relative;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

#card {
  display: flex;
  background-color: rgba(192, 192, 192, 0.89);
  height: fit-content;
  padding: 2%;
  align-items: center;
  border: rgba(2, 2, 2, 0.377) solid;
  width: 20rem;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
#card:hover {
  transform: scale(1.1);
  /* width: 50%;
  height: auto; */

}

#bar-image {
  height: 15vh;
  width: 10vw;
  background-color: aqua;
  margin-right: 1%;
  align-items: center;
}
#card-information {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
#bar-name {
  font-size: 20px;
}

/* img {
  display: inline-block;
  vertical-align: middle;
  max-width: 2%;
  height: auto;
} */
#insta {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  margin-left: 15%;
  /* height: auto; */
}
#icon {
  display: flex;
    align-self: center;
    position: absolute;
    /* left FONT-WEIGHT: 200; */
    right: 32%
}
h3{
  font-size: 15px;
  text-align: center;
  
}
/* .right{
  float: right;
} */


.addBtn {
  color: white;
  background-color: rgb(51, 47, 47);
  padding: 3%;
  display: inline-block;
  animation: wiggle 2s linear infinite;
  border-radius: 10px;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
